<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="~{fragmentManagement::header}">
</head>


<style>
  .form-control:disabled, .form-control[readonly] {
  background-color: #54657d;
  opacity: 1;
}
</style>
<body>

<!--PreLoader-->
<div th:replace="~{fragmentManagement::loader}">

</div>
<!--PreLoader Ends-->
<nav th:replace="~{fragmentManagement::navbar}" >
</nav>
<div class="container tm-mt-big tm-mb-big">
   <div class="row">
    <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
      <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
        <div class="row">
          <div class="col-12">
            <h2 class="tm-block-title d-inline-block">Edit Product</h2>
          </div>
          <div th:if="${check}" class="col-12">
            <h2 class="tm-block-title d-inline-block" style="color:white">The selected product is non-existent in system!</h2>
          </div>
        </div>
        <div th:if="${!check}" class="row tm-edit-product-row">
          <div class="col-xl-12 col-lg-12 col-md-12">
            <form th:action="@{/editProduct}" method="post" class="tm-edit-product-form">
              <div class="form-group mb-3" hidden="hidden">
                <label >Shoes ID
                </label>
                <input  name="pid" type="number" th:value="${shoes.shoesId}"  class="form-control validate" readonly />
              </div>
              <div class="form-group mb-3">
                <label >Product Name
                </label>
                <input  name="name" type="text" th:value="${shoes.productName}" class="form-control validate" required />
              </div>
              <div class="row">

                 <div class="form-group mb-3 col-xs-12 col-sm-6">
                 <label >Release Date
                 </label>
                 <input  name="date" type="date" th:value="${shoes.releaseDate}"
                 class="form-control validate" data-large-mode="true" required />
                 </div>
                <div class="form-group mb-3 col-xs-12 col-sm-6">
                  <label >Create on
                  </label>
                  <input  name="dateCreate" type="date" th:value="${shoes.createdOn}"
                          class="form-control validate" data-large-mode="true" readonly />
                </div>

                <div class="form-group mb-3 col-xs-12 col-sm-6">
                  <label >Price
                  </label>
                  <input  name="price" id="price" min="0" type="number" th:value="${shoes.price}" class="form-control validate" required />
                </div>
                <div class="form-group mb-3 col-xs-12 col-sm-6">
                  <label >Brand</label>
                  <select class="custom-select tm-select-accounts" name="brand">
                    <option th:value="${shoes.brand.brandId}" th:text="${shoes.brand.brandName}" selected></option>
                    <option th:each="brand : ${listBrand}"
                            th:value="${brand.brandId}"
                            th:text="${brand.brandName}">
                    </option>
                  </select>
                </div>
                <div class="form-group mb-3 col-xs-12 col-sm-6" readonly hidden="hidden">
                  <label >Picture ID
                  </label>
                  <input  name="picid" type="number" th:value="${shoes.picture.pictureId}" class="form-control validate" readonly />
                </div>
                <div class="form-group mb-3 col-xs-12 col-sm-6">
                  <label >Picture Main
                  </label>
                  <input  name="pm" type="text" th:value="${shoes.picture.main}" class="form-control validate" required />
                </div>
                <div class="form-group mb-3 col-xs-12 col-sm-6">
                  <label >Picture Font
                  </label>
                  <input  name="pf" type="text" th:value="${shoes.picture.front}" class="form-control validate" required />
                </div>
                <div class="form-group mb-3 col-xs-12 col-sm-6">
                  <label >Picture Back
                  </label>
                  <input  name="pb" type="text" th:value="${shoes.picture.back}" class="form-control validate" required />
                </div>
                <div class="form-group mb-3 col-xs-12 col-sm-6">
                  <label >Picture Side
                  </label>
                  <input  name="ps" type="text" th:value="${shoes.picture.site}" class="form-control validate" required />
                </div>

                <div class="form-group mb-3 col-xs-12 col-sm-6">
                  <label >Status</label>
                  <select class="custom-select tm-select-accounts" name="status" >
                    <option th:if="${shoes.status}" th:value="1">In-stock</option>
                    <option th:if="${!shoes.status}" th:value="0">Out-stock</option>
                    <option value="1" >In-stock</option>
                    <option value="0" >Out-stock</option>
                  </select>
                </div>
                <div class="form-group mb-3 col-xs-12 col-sm-6">
                  <label>Sizes:</label><br/>
                  <div th:each="size : ${allSizes}" style="display: inline-block; margin-right: 10px;">
                    <input type="checkbox"
                           name="sizes"
                           th:value="${size.sizeId}"
                           th:checked="${#lists.contains(allSizesOfShoes, size)}"/>
                    <label th:text="${size.sizeName}">
                    </label>
                  </div>

                </div>





              </div>


          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block text-uppercase">Update Now</button>
          </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
  <footer th:replace="~{fragmentManagement::footer}" >
  </footer>
</body>
<div th:replace="~{fragmentManagement::js}">

</div>
<!--<script>-->


<!--  document.getElementById('camera').addEventListener('input', function (e) {-->
<!--    let value = e.target.value;-->
<!--    const cameraError = document.getElementById('cameraError');-->

<!--    // Kiểm tra nếu giá trị không phải là số hoặc là số nhỏ hơn 0-->
<!--    if (!/^\d*$/.test(value) || parseInt(value) < 0) {-->
<!--        // Hiển thị thông báo lỗi-->
<!--        cameraError.style.display = 'block';-->

<!--        // Xóa bỏ các ký tự không phải số-->
<!--        e.target.value = value.replace(/\D/g, '');-->
<!--    } else {-->
<!--        // Ẩn thông báo lỗi nếu giá trị hợp lệ-->
<!--        cameraError.style.display = 'none';-->
<!--    }-->
<!--});-->


<!--    document.getElementById('dis').addEventListener('input', function (e) {-->
<!--    let value = e.target.value;-->

<!--    // Kiểm tra nếu giá trị không phải là số hoặc là số nhưng không lớn hơn 0-->
<!--    if (!/^\d*$/.test(value) || parseInt(value) <= 0) {-->
<!--        // Hiển thị thông báo lỗi (ví dụ: dùng console.log hoặc alert)-->
<!--       alert('Giá trị display không hợp lệ.');-->

<!--        // Xóa bỏ các ký tự không phải số-->
<!--        e.target.value = value.replace(/\D/g, '');-->
<!--    }-->

<!--    document.getElementById('price').addEventListener('input', function (e) {-->
<!--    let value = e.target.value;-->

<!--    // Kiểm tra nếu giá trị không phải là số hoặc là số nhưng không lớn hơn 0-->
<!--    if (!/^\d*$/.test(value) || parseInt(value) <= 0) {-->
<!--        // Hiển thị thông báo lỗi (ví dụ: dùng console.log hoặc alert)-->
<!--       alert('Giá trị price không hợp lệ.');-->

<!--        // Xóa bỏ các ký tự không phải số-->
<!--        e.target.value = value.replace(/\D/g, '');-->
<!--    }-->
<!--</script>-->


</html>