<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments::header}"></head>

<body>
<link rel="stylesheet" th:href="@{static/css/profile.css}">

<!--PreLoader-->
<div th:replace="~{fragments::loader}"></div>
<!--PreLoader Ends-->
<div class="container light-style flex-grow-1 container-p-y">

    <h4 class="font-weight-bold py-3 mb-4">
        PROFILE USER
    </h4>
    <div th:if="${messageList}">
        <div class="alert alert-danger"><span class="messageError" th:each="message: ${messageList}"
                                              th:text="${message}"></span></div>
    </div>
    <div th:if="${error}" th:text="${error}"
         class="alert alert-danger text-left"></div>
    <div th:if="${notice}" class="alert alert-success text-left" th:text="${notice}">
    </div>
    <div th:if="${noticee}" class="alert alert-success text-left" th:text="${noticee}">
    </div>
    <div class="card overflow-hidden">
        <div class="row no-gutters row-bordered row-border-light">
            <div class="col-md-3 pt-0">
                <div class="list-group list-group-flush account-settings-links">
                    <a id="link-profile" class="list-group-item list-group-item-action" data-toggle="list"
                       href="#">General</a>
                    <a id="link-pass" class="list-group-item list-group-item-action" data-toggle="list"
                       href="#">Change password</a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="tab-content">
                    <form id="account-general" th:action="@{/profile/update}" th:object="${profileDto}" method="POST">
                        <div class="tab-pane">
                            <hr class="border-light m-0">
                            <div class="card-body">
                                <div class="form-group">
                                    <label class="form-label">Username</label>
                                    <input type="text" class="form-control mb-1" th:value="${user.username}"
                                           name="username" disabled>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">First Name</label>
                                    <input type="text" class="form-control" th:field="*{firstName}"
                                           placeholder="First Name">
                                    <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('firstName')}"
                                         th:errors="*{firstName}"></div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Last Name</label>
                                    <input type="text" class="form-control" th:field="*{lastName}"
                                           placeholder="Last Name">
                                    <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('lastName')}"
                                         th:errors="*{lastName}"></div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Gender</label>
                                    <div>
                                        <input type="radio" id="male" name="gender" class="form-control-inline"
                                               th:checked="${profileDto.gender == 'Male'}" value="Male">
                                        <label for="male">Male</label>
                                    </div>
                                    <div>
                                        <input type="radio" id="female" name="gender" class="form-control-inline"
                                               th:checked="${profileDto.gender == 'Female'}" value="Female">
                                        <label for="female">Female</label>
                                    </div>
                                    <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('gender')}"
                                         th:errors="*{gender}"></div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Email</label>
                                    <input type="text" class="form-control" th:value="${user.email}" name="email"
                                           disabled>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Phone</label>
                                    <input type="text" class="form-control" th:field="*{phoneNumber}"
                                           placeholder="Phone (09xxxxxxxx)">
                                    <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('phoneNumber')}"
                                         th:errors="*{phoneNumber}"></div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Address</label>
                                    <input type="text" class="form-control" th:field="*{address}" placeholder="Address">
                                    <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('address')}"
                                         th:errors="*{address}"></div>
                                </div>
                            </div>
                            <div class="text-right mt-3">
                                <button type="submit" class="btn btn-primary" onclick="confirmSave(event)">Save changes</button>&nbsp;
                                <a class="btn btn-primary" th:href="@{/}">Back to home</a>
                            </div>
                            <br>
                        </div>
                    </form>
                    <form id="account-change-password" th:action="@{/profile/password}" th:object="${updatePassDto}"
                          method="POST">
                        <div class="tab-pane">
                            <div class="card-body pb-2">
                                <div class="form-group">
                                    <label class="form-label">Your password</label>
                                    <input type="password" name="oldPass" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="form-label">New password</label>
                                    <input type="password" name="newPass" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Repeat new password</label>
                                    <input type="password" name="confirmPass"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="text-right mt-3">
                                <button type="submit" class="btn btn-primary" onclick="confirmSave(event)">Save changes</button>&nbsp;
                                <a class="btn btn-primary" th:href="@{/}">Back to home</a>
                            </div>
                            <br>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript">

</script>

<div th:replace="~{fragments::script}"></div>
<script th:src="@{/js/profile.js}"></script>
<script type="text/javascript">
    function confirmSave(event) {
        var result = confirm("Are you sure you want to save changes?");
        if (!result) {
            event.preventDefault();
        }
    }
</script>
</body>

</html>
