<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head th:replace="~{fragments::header}"></head>
<body>
<!--<link rel="stylesheet" th:href="@{/css1/style.css}">-->
<!--PreLoader-->
<div th:replace="~{fragments::loader}"></div>
<!--PreLoader Ends-->


<!-- header -->
<div th:replace="~{fragments::headerNav}"></div>
<!-- end header -->


<!-- search area -->
<div th:replace="~{fragments::search}"></div>
<!-- end search area -->
<style>
    li a{
    color: black
    }
    .product-filters ul li {
        border: 3px solid #051922;
    }
    .single-product-item{
        height: 525px;

    }
</style>
<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>MODERN & FASHION</p>
                    <h1>All Products</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="userRole" th:value="${userRole}" />


<div class="product-section mt-150 mb-150" style="margin-top: -10px">
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="    margin: 57px 0px -77px 0px;">
                <div class="product-filters">
                    <ul>
                        <li > <a th:href="@{/shop}" style="color: black">All</a></li>
                        <li th:each="brand: ${listBrand}">
                            <a  th:href="@{/shop/brand(id=${brand.brandId})}"
                                th:text="${brand.brandName}" style="color: black" ></a>
                        </li>


                    </ul>
                </div>
            </div>
            <div class="col-md-12" style=" margin-bottom: -64px;">
                <div class="product-filters">
                    <ul>


                        <li><a th:href="@{/shop?minPrice=0&maxPrice=200}" >Under 200$</a></li>
                        <li><a th:href="@{/shop?minPrice=200&maxPrice=500}" >200$ - 500$</a></li>
                        <li><a th:href="@{/shop?minPrice=500&maxPrice=1000}" >500$ - 1000$</a></li>
                        <li><a th:href="@{/shop?minPrice=1000&maxPrice=1500}" >1000$ - 1500$</a></li>
                        <li><a th:href="@{/shop?minPrice=1500&maxPrice=10000}" >1500$ - 10000$</a></li>






                    </ul>
                </div>
            </div>
        </div>
        <div th:if="${check}" class="full-height-section error-section">
            <div class="full-height-tablecell">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 offset-lg-2 text-center">
                            <div class="error-text">
                                <i class="far fa-sad-cry"></i>
                                <h1>Oops! Not Found.</h1>
                                <p>We apologize for the inconvenience, but it appears the product you're looking for is currently unavailable.</p>
                                <a th:href="@{/shop}" class="boxed-btn">Back to Shop</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row product-lists">
            <div th:each="phone: ${listPhone}" class="col-lg-4 col-md-6 text-center "  style="padding: 43px;">
                <div class="single-product-item">
                    <div class="product-image">
                        <a th:href="@{/single-product(id=${phone.phoneId})}"><img th:src="@{${phone.picture.main}}"
                                                                                       alt=""></a>
                    </div>
                    <h3 th:text="${phone.productName + ' - ' + phone.ram + 'GB/' + #numbers.formatDecimal(phone.memory, 0, 'COMMA', 0,'POINT') + 'GB' +' - '+ phone.origin}"></h3>
                    <p class="product-price" th:text="${#numbers.formatDecimal(phone.price, 1, 'COMMA', 2, 'POINT') + ' $'}"></p>
                    <a th:href="@{/cart/phone/{id}(id=${phone.phoneId})}" onclick="showAlert()" class="cart-btn"><i
                            class="fas fa-shopping-cart" ></i> Add to Cart</a>
                </div>
            </div>


        </div>

        <div th:if="${!check}" class="row">
            <div class="col-lg-12 text-center">
                <div class="pagination-wrap">
                    <ul>
                        <li th:if="${currentPage > 1}">
                            <a th:href="@{'/shop?'
                     +(${keyword != null && keyword != ''} ? 'keyword=' + ${keyword} + '&' : '')
                     + (${minPrice != null && maxPrice != null} ? 'minPrice=' + ${minPrice} + '&maxPrice=' + ${maxPrice} + '&' : '')
                     + 'pageNo=' + ${currentPage - 1}}">Prev</a>
                        </li>
                        <li th:each="pageNo : ${#numbers.sequence(1, totalPage)}">
                            <a th:href="@{'/shop?'
                     +(${keyword != null && keyword != ''} ? 'keyword=' + ${keyword} + '&' : '')
                     + (${minPrice != null && maxPrice != null} ? 'minPrice=' + ${minPrice} + '&maxPrice=' + ${maxPrice} + '&' : '')
                     + 'pageNo=' + ${pageNo}}"
                               th:classappend="${currentPage == pageNo} ? 'active' : ''"
                               th:text="${pageNo}">Page</a>
                        </li>
                        <li th:if="${currentPage < totalPage}">
                            <a th:href="@{'/shop?'
                     +(${keyword != null && keyword != ''} ? 'keyword=' + ${keyword} + '&' : '')
                     + (${minPrice != null && maxPrice != null} ? 'minPrice=' + ${minPrice} + '&maxPrice=' + ${maxPrice} + '&' : '')
                     + 'pageNo=' + ${currentPage + 1}}">Next</a>
                        </li>
                    </ul>


                </div>
            </div>
        </div>
    </div>
</div>




<!-- end products -->


<!-- logo carousel -->
<div class="logo-carousel-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="logo-carousel-inner">
                    <div class="single-logo-item">
                        <img th:src="@{images/company-logos/1.png}" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img th:src="@{images/company-logos/2.png}" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img th:src="@{images/company-logos/3.png}" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img th:src="@{images/company-logos/4.png}" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img th:src="@{images/company-logos/5.png}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end logo carousel -->


<!-- footer -->
<div th:replace="~{fragments::footer}"></div>
<!-- end footer -->


<!-- copyright -->
<div th:replace="~{fragments::copyright}"></div>
<!-- end copyright -->


<div th:replace="~{fragments::script}"></div>
<script>
    function showAlert() {
        var userRole = document.getElementById("userRole").value;
        if (userRole == 'USER') {
            alert("Product added to cart successfully!");
        }
    }
</script>
</body>
</html>

