<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments::header}"></head>
<body>
	
	<!--PreLoader-->
	<div th:replace="~{fragments::loader}"></div>
	<!--PreLoader Ends-->

	<!-- header -->
	<div th:replace="~{fragments::headerNavAdmin}"></div>
	<!-- end header -->

	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<h1>User Detail</h1>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- cart -->
	<div class="cart-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="cart-table-wrap">
						<table class="cart-table">
							<thead class="cart-table-head">
								<tr class="table-head-row">
<!--									<th class="product-id">User ID</th>-->
									<th class="product-name">User Name</th>
									<th class="product-name">First Name</th>
									<th class="product-name">Last Name</th>
									<th class="product-email">Email</th>
									<th class="product-address">Address</th>
									<th class="product-gender">Gender</th>
									<th class="product-phone">Phone Number</th>
								</tr>
							</thead>
							<tbody>
								<tr class="table-body-row">
<!--									<td class="product-id" th:text="${userdtl.userDetailId}">1</td>-->
									<td class="product-name" th:text="${user.username}">User A</td>
									<td class="product-name" th:text="${userdtl.firstName}">User A</td>
									<td class="product-name" th:text="${userdtl.lastName}">User A</td>
									<td class="product-email" th:text="${user.email}">userA@example.com</td>
									<td class="product-address" th:text="${userdtl.address}">123 Main St, Cityville</td>
									<td class="product-gender" th:text="${userdtl.gender}">Male</td>
									<td class="product-phone" th:text="${userdtl.phoneNumber}">123-456-7890</td>
								</tr>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- end cart -->


	<!-- footer -->
	<div th:replace="~{fragments::footer}"></div>
	<!-- end footer -->
	
	<!-- copyright -->
	<div th:replace="~{fragments::copyright}"></div>
	<!-- end copyright -->
	
	<!-- jquery -->
	<div th:replace="~{fragments::script}"></div>

</body>
</html>